extends layout
block title
    title New Cat
block content
    h1 Add a new cat
    form(method="post", action="/add/cat")
        p
            label(for="name") Name 
            input#name(name="name", type="text")
        p
            label(for="age") Age 
            input#age(name="age", type="number")
        input(type="submit", value="Add")